tornado==5.1.1
pyeva==3.0.1
sqlalchemy==1.2.12
sqlalchemy-utils==0.33.5
psycopg2-binary==2.7.5
bravado_core==5.10.1
swagger_spec_validator==2.4.1
nose2==0.8.0
pylint==2.3.0
coverage==4.5.1
requests
codecov
git+https://gitlab.com/pycqa/flake8#egg=flake8
